<div class="row mt-5">
  <div class="col-md-6 mx-auto">

    <div class="card text-center">
      <div class="card-body">
        <h4 class="card-title"> <i class="fa fa-lock"></i> Login</h4>
        <div class="card-text">
          <div class="form-group">
            <label for="email">Email</label>
            <input [(ngModel)]="email" id="email" name="email" type="text" class="form-control">
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input [(ngModel)]="password" id="password" name="password" type="password" class="form-control">
          </div>
          <button (click)="signIn()" class="btn btn-primary btn-block">Login</button>
          <button (click)="signInGoogle()" class="btn btn-danger btn-block"> <i class="fa fa-google"></i> Login with Google </button>
        </div>
      </div>
    </div>

  </div>
</div>